[Unit]
Description=Unmutes the A64 sound card at boot for PulseAudio
After=pulseaudio.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/unmute-sound-card.sh

[Install]
WantedBy=sound.target
