[Unit]
Description=Setup cameras resolutions and colorspaces

[Service]
Type=simple
ExecStart=/usr/bin/droid/cameras_setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
